:root {
  --font: "Open Sans", sans-serif;
  --primary-color: #FE724C;
  --primary-hover-color: #e65b2f;
  --text-color: #000000;
  --text-secondary-color: #5B5B5E;
  --white-color: #FFFFFF;
  --separator-color: #D4D6E0;
  --ghost-color: #BEBEBE;
  --search-color: #9AA0B4;
  --border-color: #EEEEEE;
  --input-text-color: #C4C4C4;
  --invalid-primary-color: #FF0000;
  --invalid-secondary-color: #fdeaea;
}

body {
  font-family: "Open Sans", sans-serif;
}