.card-button {
    padding: 8px;
    background-color: rgba(32, 40, 62, 0.8);
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

.card-button:hover {
    background-color: rgba(51, 67, 89, 0.8);
}
