.input {
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    background: none;
    width: 324px;
    padding: 20px;
    border-radius: 10px;
}

.invalid {
    border: 1px solid var(--invalid-primary-color);
    background: var(--invalid-secondary-color);
}

.input::placeholder {
    color: var(--input-text-color);
}